<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Enterprise Automation Suite">

    <listeners>
        <listener class-name="com.enterprise.listeners.ReportListener"/>
    </listeners>

    <test name="Regression Tests">

        <classes>
            <class name="com.enterprise.tests.LoginTest"/>
            <class name="com.enterprise.tests.LogoutTest"/>
        </classes>

    </test>

</suite>
